<article class="form">
	
	<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
	<%= devise_error_messages! %>
	
	<legend>Resend confirmation instructions</legend>

	<div>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>

	<div><%= f.submit "Resend confirmation instructions" %></div>
	
	<% end %>

	<%= render "users/shared/links" %>
</article>