<table class="popular users">
	<thead>
		<tr>
			<td><%= t('html.analytics.rank') %></td>
			<td><%= t('html.analytics.popularity') %></td>
			<td><%= t('html.analytics.user') %></td>
		</tr>	
	</thead>
	<tbody>
		<% @data[:popular_users].each_with_index do |user,i| %>
		<tr>
			<td><%= i + 1 %></td>
			<td><%= user.popularity %></td>
			<td><%= link_to_if users_enabled?, user.full_name, user_path(user) %></td>
		</tr>	
		<% end %>
</table>

<table class="popular posts">
	<thead>
		<tr>
			<td><%= t('html.analytics.rank') %></td>
			<td><%= t('html.analytics.popularity') %></td>
			<td><%= t('html.analytics.post') %></td>
		</tr>	
	</thead>
	<tbody>
		<% @data[:popular_posts].each_with_index do |post, i| %>
		<tr>
			<td><%= i + 1 %></td>
			<td><%= post.popularity %></td>
			<td><%= link_to_if posts_enabled?, post.title, post_path(post.slug) %></td>
		</tr>	
		<% end %>
</table>

