<article class="form">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

	<legend>Log In</legend>

	<fieldset>
  	<div>
			<%= f.label :email %>
  		<%= f.email_field :email %>
		</div>
	</fieldset>

	<% if Settings.user_setting('password_required', current_branch) != "never" %>
	<fieldset>	
  	<div>
			<%= f.label :password %>
  		<%= f.password_field :password %>
		</div>
	</fieldset>
	<% end %>

  <% if devise_mapping.rememberable? %>
	<fieldset>	
    <div>
			<%= f.check_box :remember_me %> <%= f.label :remember_me, :style => "display:inline" %>
		</div>
	</fieldset>	
  <% end -%>

  <div class="actions"><%= f.submit "Enter" %></div>
	<% end %>

	<%= render "users/shared/links" %>
</article>