<header>
	<h1><%= t('content.header.h1') %></h1>
	<nav>
		<% unless current_user %>
			<%= link_to "Sign in", new_user_session_path %><br />
			<%= link_to "Sign up", new_user_registration_path %><br />		
		<% else %>
			<%= link_to "Me", user_path(current_user) %>
			<%= link_to "Log out", destroy_user_session_path, :method => :delete %>
		<% end %>
		<%= link_to "Users", users_path %>
	</nav>	
</header>