<header>
	<%= link_to logo, root_path, :class => "logo" %>
	<nav>
		<%= link_to "Users", users_path %>
		<%= link_to "Posts", posts_path %>				
		<%= link_to "Events", events_path %>		
		<% unless current_user %>
			<%= link_to "Login", new_user_session_path %>
		<% else %>
			<%= link_to "Me", user_path(current_user) %>
			<%= link_to "Log out", destroy_user_session_path, :method => :delete %>
		<% end %>
		<%= language_dropdown %>
	</nav>	
</header>