<header>
	<%= link_to logo, root_path, :class => "logo" %>
	<%= language_dropdown %>
	<%= render "shared/sharing" %>
	<nav>
		<%= link_to t('html.header.users'), users_path if users_enabled? %>
		<%= link_to t('html.header.posts'), posts_path  if posts_enabled? %>				
		<%= link_to t('html.header.events'), events_path if events_enabled? %>		
		<%= link_to t('html.header.analytics'), analytics_path if analytics_enabled? %>				
		<% if users_enabled? %>
			<% unless current_user %>
				<%= link_to t('html.header.login'), new_user_session_path %>
			<% else %>
				<%= link_to t('html.header.me'), user_path(current_user)  %>
				<%= link_to t('html.header.logout'), destroy_user_session_path, :method => :delete %>
			<% end %>
		<% end %>		
	</nav>	
</header>