<%= stylesheet_link_tag    	"application", :media => "all" %>
<style>
body{
	background:#FFF;
}
form{
	background: transparent;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	border-radius: 0;
}
div.images{
	height: 160px;
	overflow: scroll;
	overflow-x: hidden;
}
</style>
<h2><%= t('html.media.new.title') %></h2>
<h3><%= t('html.media.new.description_choose') %></h3>
<div class="images">
<% @media.each do |image| %>
<%= link_to image_tag(image.file.thumb),"javascript:void(0);", :class => "thumb", :ref => image.file %>
<% end %>
</div>
<br/><br/>
<h3><%= t('html.media.new.description_upload') %></h3>
<%= form_for Content::Media.new, :url => media_path do |f| %>
<% # TODO: render errors %>
<fieldset>
	<div>
		<%= f.file_field :file %>
	</div>		
</fieldset>
<div class="actions">
<%= f.submit t('html.media.new.submit') %>
</div>
<% end %>
<script>
$(".thumb").click(function(){
	window.top.$.markItUp({ replaceWith:'![Image](' + $(this).attr('ref') + ' "Image")' } );
});
</script>