<div id="map_canvas" style="height:300px;width:100%"></div>
<% content_for :scripts do %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
<script type="text/javascript">
// Onload handler to fire off the app.
google.maps.event.addDomListener(window, 'load', function() { 
	$.campanify.initializeMap(
		{zoom: 8, latitude: <%= venue[:latitude] %>, longitude: <%= venue[:longitude] %>},
		[{title: "Venue", position:{latitude: <%= venue[:latitude] %>, longitude: <%= venue[:longitude] %>}}]
	); 
});
</script>
<% end %>