<article class="event">
	<h1><%= event.name %></h1>
	<%= render "map", :venue => event.venue %>	
	<section class="body">
		<p><%= event.description %></p>
		<dl>
			<dt>Start time:</dt><dd><%= event.start_time.in_time_zone(timezone) %></dt>
			<dt>End time:</dt><dd><%= event.end_time.in_time_zone(timezone) %></dd>			
			<dt>Location:</dt><dd><%= event.location %></dd>						
		</dl>	
	</section>
</article>
<%= render "shared/comments", :href => event_url(event.slug) if Settings.events['comments'].present? %>