<article class="form">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

	<legend><%= t('html.users.passwords.new.title')%></legend>

  <%= devise_error_messages! %>

	<fieldset>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

	</fieldset>

  <div class="actions"><%= f.submit t('html.users.passwords.new.submit') %></div>
<% end %>

<%= render "users/shared/links" %>
</article>