<div id="social-sharing">
    <!-- below code automatically sets user profile url if there is logged in one -->
    <div class="addthis_toolbox addthis_default_style" 
        addthis:url="<%= social_sharing_url %>" 
        addthis:title="<%= social_sharing_title %>" 
        addthis:description="<%= social_sharing_description %>" 
    >
        <label>Share on</label>
        <a class="addthis_button_facebook"><button>Facebook</button></a>
        <a class="addthis_button_twitter" addthis:title="<%= social_sharing_tweet %>"><button>Twitter</button></a>
    </div>
    <!-- show public profile url for user if there is available one -->
    <% if sharing_user %>
    <br/>
    Uniq public profile url:
    <input type="text" value="<%= user_url(sharing_user) %>" readonly="readonly"/>
    <% end %>
</div>