<%= semantic_form_for post, 
		:remote => true,
		:url => post.new_record? ? posts_path : post_path(post.id),
		:method => post.new_record? ? :post : :put,
		:html => {
		:"data-collection" => "posts",	
		:"data-member" => "post",
		:"data-type" => "json",
		:"data-post-action" => "after_post",
		:"data-find_by" => "slug",
		:"data-translated-member" => t('activerecord.models.content/post')
		} do |f| %>
	<div id="error_explanation" class="hidden"></div>		
	<%= f.inputs do %>
  <%= f.input :title %>
  <%= f.input :body, :as => :text %>
  <%= f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id } %>
	<% end %>
  <%= f.buttons %>
<% end %>
<div id="upload_media_form">
	<a href="javascript:$('#upload_media_form').hide();$('body').css({'overflow':'auto'});">x</a>
	<iframe src="<%= new_medium_path %>"></iframe>
</div>