<article class="page" id="analytics">
	<section id="map">
		<h2><%= t('html.analytics.map_title') %></h2>
		<div id="map_canvas" style="height:300px;width:100%"></div>
	</section>
	<section id="ranking">
		<h2><%= t('html.analytics.ranking_title') %></h2>
		<div id="ranks"></div>
	</section>
	<section id="graphs">
		<h2><%= t('html.analytics.graphs_title') %></h2>		
		<nav>
			<a href="#hourly"><%= t('html.analytics.hourly') %></a>
			<a href="#daily"><%= t('html.analytics.daily') %></a>
			<a href="#weekly"><%= t('html.analytics.weekly') %></a>
			<a href="#monthly"><%= t('html.analytics.monthly') %></a>
			<span class="on-right">
				<a href="#users"><%= t('html.analytics.users') %></a>
				<a href="#content_posts"><%= t('html.analytics.content_posts') %></a>				
			</span>
		</nav>	
		<br/><br/>
		<article id="users">
			<span class="linechart hourly"></span>
			<span class="linechart daily"></span>
			<span class="linechart weekly"></span>
			<span class="linechart monthly"></span>
		</article>
		<article id="content_posts">
			<span class="linechart hourly"></span>
			<span class="linechart daily"></span>
			<span class="linechart weekly"></span>
			<span class="linechart monthly"></span>												
		</article>		
	</section>
</article>
<% content_for :scripts do %>
<%= javascript_include_tag "jquery.sparkline" %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
<% end %>