<!DOCTYPE html>
<html>
<head>
	<title><%= t('html.title') %></title>
	<meta name="description" content="<%= t('html.description') %>">
	<%= render 					"shared/ograph" %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
</head>
<body class="<%= body_class %>">
<%= yield %>
<%= render 					"shared/js_bindings" %>	
<%= javascript_include_tag 	"jquery" %>
<%= javascript_include_tag 	"jquery_ujs" %>
<%= javascript_include_tag 	"application" %>
<%= yield :scripts %>
</body>
</html>
