<!DOCTYPE html>
<html>
<head>
	<title><%= t('html.title') %></title>
	<meta name="description" content="<%= t('html.description') %>">
  <%= stylesheet_link_tag    	"application", :media => "all" %>
	<%= render 									"shared/js_bindings" %>
  <%= javascript_include_tag 	"application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">

	<%= render "shared/fb_js_sdk" %>

	<%= render "shared/notifications" %>
	
	<div id="main" role="main">

		<%= render "shared/header" %>
		
		<section id="content">
		<%= yield %>
		</section>

		<%= render "shared/footer" %>
	</div>	
	
</body>
</html>
